@{
    ViewData["Title"] = "Home Page";
}

<h3>Issue Demo</h3>

@section Scripts {

	<script type="text/javascript">

		$(document).ready(function() {
			$("#personGrid").dxDataGrid({
				dataSource: new DevExpress.data.ODataStore({
					url: `/odata/Person`,
					key: 'PersonId',
					version: 4
				}),
				editing: {
					allowUpdating: true,
					allowAdding: true,
					allowDeleting: true,
					mode: 'batch' // 'row' | 'batch' | 'cell' | 'form' | 'popup'
				},
				columns: [
					{ dataField: "FirstName" },
					{ dataField: "LastName" }
				]
			});
			
			$("#animalGrid").dxDataGrid({
				dataSource: new DevExpress.data.ODataStore({
					url: `/odata/Animal`,
					key: 'AnimalId',
					version: 4
				}),
				editing: {
					allowUpdating: true,
					allowAdding: true,
					allowDeleting: true,
					mode: 'batch' // 'row' | 'batch' | 'cell' | 'form' | 'popup'
				},
				columns: [
					{ dataField: "Name" }
				]
			});
		});

	</script>

}

<p>
	<div id="personGrid"></div>
</p>

<p>
    <div id="animalGrid"></div>
</p>



